<div class="container">
<% @restaurants.each do |restaurant| %>
  <div class="card">
    <h3><%= link_to restaurant.name, restaurant %></h3>
    <p><%= restaurant.category %></p>
  </div>
<% end %>
</div>

